@model IEnumerable<LMS.Models.ApplicationUser>
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;

@{
    ViewBag.Title = "SeeAllUsers";
}

<h2>SeeAllUsers</h2>

<p>
    @Html.ActionLink("Create New", "Register")
</p>
<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>
    @{
        var users = Model.ToArray();
        foreach (var user in users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @{
                        var userManager = Request.GetOwinContext().GetUserManager<ApplicationUserManager>();
                        var userRoles = userManager.GetRoles(User.Identity.GetUserId());
                        var role = userRoles[0];

                        //string roleString = "role";
                        @Html.DisplayFor(s => role);
                    }
                </td>
            </tr>
         }
    }

</table>
