@model IEnumerable<LMS.Models.StudentActivityViewModel>

<table class="table">
    <tr>
        <th>
            Status
        </th>
        <th>
            Grade
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
        </tr>
    }

</table>
