@model IEnumerable<LMS.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_Index", Model)

@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


